<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ 'app.name'|trans }}{% endblock %}</title>

    {% stylesheets
    "@AKWordLearnerBundle/Resources/public/scss/bootstrap.scss"
    "@AKWordLearnerBundle/Resources/public/scss/style.scss"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    {% include '@AKWordLearner/partial/navigation.html.twig' %}
    <div class="container">
        {% block body %}{% endblock %}
    </div>

    {% javascripts
        "@jquery"
        "@bootstrap_js"
        "@AKWordLearnerBundle/Resources/public/js/modal.js"
        "@AKWordLearnerBundle/Resources/public/js/script.js"
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

</body>
</html>
