<nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">{{ 'app.name'|trans }}</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            {% set menu = knp_menu_get('AKWordLearnerBundle:Builder:mainMenu', [], {}) %}
            {{ knp_menu_render(menu, {'currentClass': 'active'}) }}
        </div><!--/.nav-collapse -->
    </div>
</nav>
